$base-color: #0000ff;

$font-family: Arial, Helvetica, sans-serif;

// Layout.
$container-width: 960px;
$base-padding: 1rem;
$base-margin: 1rem;
$base-border: solid 1px white;

// Mixins.
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin google-font($font-url, $font-name) {
    @import url($font-name);
    font-family: $font-name, sans-serif;
}
