extends layout.pug

block content
    .header
        ul
            li
                a(href='#') Home
                a(href='#') Products
                a(href='#') Contact
                a(href='#') About